<!DOCTYPE html>
<html lang="en" class="fixed overflow-hidden h-full">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link href="<%= faviconUrl %>" rel="shortcut icon" type="image/x-icon" />
  <% if (!local) { %>
  <link href="<%= appUrl %>/index.css" rel="stylesheet" type="text/css" />
  <% } %>
  <% if (!isDev) { %>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PCFP2XP');</script>
  <!-- End Google Tag Manager -->
  <% } %>
</head>
<body class="fixed overflow-hidden w-full min-h-full flex">
<% if (!isDev) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCFP2XP"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
<div id="app" class="w-full"></div>
<script type="module">
  window.isDev = '<%= isDev %>' === 'true'
  window.baseUrl = '<%= baseUrl %>'
  if (import.meta.hot) {
    const event = new Event('data-updated')
    import.meta.hot.on('data-updated', () => {
      window.dispatchEvent(event)
    })
  }
</script>
<% if (local) { %>
<script type="module" src="<%= appUrl %>/src/main.js"></script>
<% } else { %>
<script type="module" src="<%= appUrl %>/index.js"></script>
<% } %>
<script type="module" src="/src/main.js"></script>
</body>
</html>
